{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block monTitre %}Concession PSRAZ Automobile{% endblock %}
{% block body %}
<p>Bienvenu sur le site de la concession automobile PSRAZ</p>
<p>Le site vous permet de louer des voitures avec un abonnement mensuel.</p>

<h2 class="border rounded bg-danger text-center text-bold text-white p-3 mt-3 shadow">Pour accéder à la liste des véhicules, vous devez vous connectez</h2>

{% endblock %}
